/* Estilos Globais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Estilo do Header */
.header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Estilo do Footer */
.footer {
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}

/* Estilo do Contador */
.counter {
  text-align: center;
  margin: 20px;
}

.btn {
  margin: 5px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.main-content {
  text-align: center;
  padding: 20px;
}
